[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = {extras = ["srv"], version = "==3.11"}
mongoengine = "==0.28"
redis = "==5.0.2"
redis-lru = "==0.1.2"
thefuzz = "==0.22.1"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
